<section class="faq">
  <div class="wrap faq_wrap">
    <div class="faq__block">
      <form action="" class="faq__form">
        <h3 class="faq__form-title">Ответы на&nbsp;вопросы</h3>
        <p class="faq__form-description">Не нашли ответа? Напишите&nbsp;нам.</p>
        <button class="button button_type2" data-target="formRequest">
          Оставить заявку
        </button>
      </form>

      <div class="faq__right" data-faq="container">
        <h3 class="faq__form-title faq__form-title_tablet">
          Ответы на&nbsp;вопросы
        </h3>
        <div class="faq__right-item">
          <div class="faq__open-close-wrap">
            <div class="faq__open-close" data-click="btn"></div>
          </div>
          <div class="faq__right-question">
            Можно ли мигрировать мою почту с другого почтового решения? Как
            происходит процесс миграции?
          </div>
          <div class="faq__right-answer" data-click="close">
            Да, можно. Подробное описание процесса миграции — в нашей Базе
            знаний:
            <a
              class="faq__link"
              href="https://help.mail.ru/biz/domain/migration"
              target="_blank"
              >https://help.mail.ru/biz/domain/migration
            </a>
          </div>
        </div>

        <div class="faq__right-item">
          <div class="faq__open-close-wrap">
            <div class="faq__open-close" data-click="btn"></div>
          </div>
          <div class="faq__right-question">
            Можно ли подключить на платформе кириллический домен?
          </div>
          <div class="faq__right-answer" data-click="close">
            К сожалению, платформа «Mail.ru для бизнеса» не поддерживает домены
            на кириллице.
          </div>
        </div>
        <div class="faq__right-item">
          <div class="faq__open-close-wrap">
            <div class="faq__open-close" data-click="btn"></div>
          </div>
          <div class="faq__right-question">
            Можно ли использовать сервисы бесплатно?
          </div>
          <div class="faq__right-answer" data-click="close">
            Да, облачные сервисы Почта для домена, Корпоративный мессенджер
            Myteam и Файловое хранилище Teambox имеют бесплатные базовые тарифы.
          </div>
        </div>
        <div class="faq__right-item">
          <div class="faq__open-close-wrap">
            <div class="faq__open-close" data-click="btn"></div>
          </div>
          <div class="faq__right-question">
            Какое количество пользователей на домене можно создать на бесплатном
            тарифе?
          </div>
          <div class="faq__right-answer" data-click="close">До 3000.</div>
        </div>
        <div class="faq__right-item">
          <div class="faq__open-close-wrap">
            <div class="faq__open-close" data-click="btn"></div>
          </div>
          <div class="faq__right-question">
            Как узнать стоимость решения для 300+ пользователей?
          </div>
          <div class="faq__right-answer" data-click="close">
            Отправьте заявку на info@mail.ru — мы рассчитаем.
          </div>
        </div>
        <div class="faq__right-item">
          <div class="faq__open-close-wrap">
            <div class="faq__open-close" data-click="btn"></div>
          </div>
          <div class="faq__right-question">
            Можно ли подключить Почту для домена к почтовому клиенту?
          </div>
          <div class="faq__right-answer" data-click="close">
            Да. Подробная инструкция по подключению:
             <a
              class="faq__link"
              href="https://help.mail.ru/biz/domain/userguide"
              target="_blank"
              >
              https://help.mail.ru/biz/domain/userguide
            </a>
          </div>
            
        </div>
        <div class="faq__right-item">
          <div class="faq__open-close-wrap">
            <div class="faq__open-close" data-click="btn"></div>
          </div>
          <div class="faq__right-question">
           Можно ли использовать Почту для домена для массовых рассылок?
          </div>
          <div class="faq__right-answer" data-click="close">
            Нет. Для массовых рассылок следует использовать специализированные сервисы, например Sendbox от Mail.ru.
          </div>
        </div>

        <div class="faq__right-item">
          <div class="faq__open-close-wrap">
            <div class="faq__open-close" data-click="btn"></div>
          </div>
          <div class="faq__right-question">
           Есть ли лимиты на размер ящиков в почте и вложений?
          </div>
          <div class="faq__right-answer" data-click="close">
           Нет, в Почте для домена Mail.ru нет лимитов на размер ящиков и вложений в письма. Файлы тяжелее 25 МБ будут загружаться в Облако.Mail.ru и приходить в виде ссылки.
          </div>
        </div>

      
        <div class="faq__right-item">
            <div class="faq__open-close-wrap">
            <div class="faq__open-close" data-click="btn"></div>
          </div>
          <div class="faq__right-question">
           Есть ли лимиты по количеству отправленных писем в час (в&nbsp;день)? 
          </div>
          <div class="faq__right-answer" data-click="close">
            Да. Такие лимиты индивидуальны и рассчитываются автоматически — в зависимости от многих факторов, в том числе репутации ящика. Мы не рекомендуем использовать Почту для домена для массовых рассылок — для них подойдут специализированные сервисы, например Sendbox от Mail.ru.
          </div>
        </div>
    </div>
  </div>
</section>
