<section class="features">
  <div class="wrap features__wrap">
    <div class="features__list">
      <div class="features__item features__item_mr">
        <div class="features__icon">
          <img src="{{ static('Icon-1.svg')}}" alt="" class="features__img features__img_1"/>
        </div>
        <h3 class="features__name features__name_short">
          На любых устройствах
        </h3>
        <p class="features__text">
          Наши сервисы доступны с&nbsp;компьютера, планшета и&nbsp;смартфона — сотрудники смогут решать любые задачи в&nbsp;офисе, в&nbsp;дороге или из&nbsp;дома.
        </p>
      </div>
      <div class="features__item">
        <div class="features__icon features__icon_left">
          <img src="{{ static('icon-2.svg')}}" alt="" class="features__img features__img_2"/>
        </div>
        <h3 class="features__name features__name_short">
          Экономия на накладных расходах
        </h3>
        <p class="features__text">
          Снижайте расходы за счет экономии&nbsp;на&nbsp;электричестве, аренде&nbsp;и&nbsp;оплате труда обслуживающего&nbsp;персонала.
        </p>
      </div>
      <div class="features__item features__item_mr">
        <div class="features__icon">
          <img src="{{ static('icon-3.svg')}}" alt="" class="features__img features__img_3"/>
        </div>
        <h3 class="features__name features__name_short">
          Защита от вирусов и&nbsp;спама
        </h3>
        <p class="features__text">
          Встроенный антивирус заблокирует&nbsp;опасные файлы, а&nbsp;мощные фильтры не&nbsp;пропустят рассылку спама.
        </p>
      </div>
    </div>

    <div class="features__list">
      <div class="features__item">
        <div class="features__icon">
          <img src="{{ static('Icon-4.svg')}}" alt="" class="features__img features__img_4"/>
        </div>
        <h3 class="features__name features__name_short">
          Простое администрирование
        </h3>
        <p class="features__text">
          Самостоятельно настраивайте права доступа и&nbsp;контролируйте действия сотрудников — для этого не&nbsp;нужен отдельный человек.
        </p>
      </div>
      <div class="features__item features__item_mr">
        <div class="features__icon">
          <img src="{{ static('Icon-5.svg')}}" alt="" class="features__img features__img_5"/>
        </div>
        <h3 class="features__name features__name_short">
          Бесперебойное электропитание
        </h3>
        <p class="features__text">
          Наши дата-центры обеспечены резервными каналами связи и&nbsp;электропитания. Регулярно делаем бэкапы, чтобы данные не&nbsp;потерялись.
        </p>
      </div>
      <div class="features__item">
        <div class="features__icon">
          <img src="{{ static('Icon-6.svg')}}" alt="" class="features__img features__img_6"/>
        </div>
        <h3 class="features__name features__name_short">
          Гибкое ценообразование
        </h3>
        <p class="features__text">
          Экономьте с&nbsp;тарифами «Всё включено» — покупайте сразу все 3 сервиса с&nbsp;расширенными функциями и&nbsp;возможностью докупать опции.
        </p>
      </div>
    </div>

    <div class="features__list features__list_last">
      <div class="features__item features__item_mr">
        <div class="features__icon">
          <img src="{{ static('Icon-7.svg')}}" alt="" class="features__img features__img_7"/>
        </div>
        <h3 class="features__name">Отказоустойчивость</h3>
        <p class="features__text">
          Оперативно восстановим работу даже в&nbsp;случае крупного сбоя — ваши данные не&nbsp;пострадают.
        </p>
      </div>
      <div class="features__item">
        <div class="features__icon">
          <img src="{{ static('Icon-8.svg')}}" alt="" class="features__img features__img_8"/>
        </div>
        <h3 class="features__name">Техподдержка</h3>
        <p class="features__text">
          Решим проблему в&nbsp;переписке по&nbsp;почте или&nbsp;в&nbsp;онлайн-чате.
        </p>
      </div>
    </div>
  </div>
</section>