<header class="header">
  <div class="wrap header__wrap">
    <a href="#"><img src="{{ static('logo.svg')}}" alt="Mail.ru для бизнеса" class="header__logo" /></a>
    <nav class="nav" data-block="nav">
      <button type="button" class="nav__door" data-target="menu"></button>
      <div class="nav__frame">
        <div class="nav__wrap">
          <ul class="menu" data-block="menu">
            <li class="menu__item" data-base-class="menu__item">
              <div class="menu__door" data-target="child">
                Продукты
                <svg class="menu__arrow" width="6" height="5" viewBox="0 0 6 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M5.829 1.226C5.936 1.097 6 0.931 6 0.75C6 0.336 5.664 2.93741e-08 5.25 6.55671e-08L0.75 4.5897e-07C0.336 4.95163e-07 2.93741e-08 0.336001 6.55671e-08 0.750001C8.13906e-08 0.931001 0.0640002 1.097 0.171 1.226L2.394 4.192C2.53 4.378 2.751 4.5 3 4.5C3.249 4.5 3.47 4.378 3.606 4.192L5.829 1.226Z" />
                </svg>
              </div>
              {% include 'templates/menu-products.html' %}
            </li>
            <li class="menu__item" data-base-class="menu__item">
              <div class="menu__door" data-target="child">
                Решения
                <svg class="menu__arrow" width="6" height="5" viewBox="0 0 6 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M5.829 1.226C5.936 1.097 6 0.931 6 0.75C6 0.336 5.664 2.93741e-08 5.25 6.55671e-08L0.75 4.5897e-07C0.336 4.95163e-07 2.93741e-08 0.336001 6.55671e-08 0.750001C8.13906e-08 0.931001 0.0640002 1.097 0.171 1.226L2.394 4.192C2.53 4.378 2.751 4.5 3 4.5C3.249 4.5 3.47 4.378 3.606 4.192L5.829 1.226Z" />
                </svg>
              </div>
              {% include 'templates/menu-decision.html' %}
            </li>
            <li class="menu__item" data-base-class="menu__item">
              <div class="menu__door" data-target="child">
                Ресурсы
                <svg class="menu__arrow" width="6" height="5" viewBox="0 0 6 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M5.829 1.226C5.936 1.097 6 0.931 6 0.75C6 0.336 5.664 2.93741e-08 5.25 6.55671e-08L0.75 4.5897e-07C0.336 4.95163e-07 2.93741e-08 0.336001 6.55671e-08 0.750001C8.13906e-08 0.931001 0.0640002 1.097 0.171 1.226L2.394 4.192C2.53 4.378 2.751 4.5 3 4.5C3.249 4.5 3.47 4.378 3.606 4.192L5.829 1.226Z" />
                </svg>
              </div>
              {% include 'templates/menu-resources.html' %}
            </li>
          </ul>
          <div class="nav__auth">
            <div class="nav__authitem"><a href="#" class="nav__authlogin">Вход</a></div>
            <div class="nav__authitem"><a href="#" class="button button_type1 nav__authcreate">Создать аккаунт</a></div>
          </div>

          <div class="nav-social">
            {% include 'templates/social.html' %}
          </div>

        </div>
      </div>
    </nav>
  </div>
</header>
