<div class="menu__dropdown">
  <div class="wrap menu__dropdownwrap">
    <ul class="menu-level2 menu-level2_column2">
      <li class="menu-level2__item">
        <a href="https://biz.mail.ru/onpremise/documents" class="menu-level2__block">
          <span class="menu-level2__itemname">Документация</span>
          <span class="menu-level2__itemdescr">Почитать про сервисы</span>
        </a>
      </li>
      <li class="menu-level2__item">
        <a href="https://biz.mail.ru/onpremise/support" class="menu-level2__block">
          <span class="menu-level2__itemname">Техподдержка</span>
          <span class="menu-level2__itemdescr">Задайте вопрос специалисту</span>
        </a>
      </li>
      <li class="menu-level2__item">
        <a href="https://biz.mail.ru/onpremise/administration" class="menu-level2__block">
          <span class="menu-level2__itemname">Администрирование</span>
          <span class="menu-level2__itemdescr">Управляйте продуктами</span>
        </a>
      </li>
      <li class="menu-level2__item">
        <a href="https://biz.mail.ru/onpremise/ad" class="menu-level2__block">
          <span class="menu-level2__itemname">Работа с AD</span>
          <span class="menu-level2__itemdescr">Синхронизируйте данные</span>
        </a>
      </li>
      <li class="menu-level2__item">
        <a href="https://biz.mail.ru/onpremise/blog" class="menu-level2__block">
          <span class="menu-level2__itemname">Блог</span>
          <span class="menu-level2__itemdescr">Статьи о технологиях</span>
        </a>
      </li>
    </ul>
    {% include 'templates/menu-extra.html' %}
  </div>
</div>
