<div class="menu__dropdown">
  <div class="wrap menu__dropdownwrap">
    <ul class="menu-level2">
      <li class="menu-level2__item" data-base-class="menu-level2__item">
        <div class="menu-level2__block" data-target="child">
          <div class="menu-level2__itemname">
            Коммуникационные сервисы
            <svg class="menu-level2__arrow" width="6" height="5" viewBox="0 0 6 5" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M5.829 1.226C5.936 1.097 6 0.931 6 0.75C6 0.336 5.664 2.93741e-08 5.25 6.55671e-08L0.75 4.5897e-07C0.336 4.95163e-07 2.93741e-08 0.336001 6.55671e-08 0.750001C8.13906e-08 0.931001 0.0640002 1.097 0.171 1.226L2.394 4.192C2.53 4.378 2.751 4.5 3 4.5C3.249 4.5 3.47 4.378 3.606 4.192L5.829 1.226Z" />
            </svg>
          </div>
          <div class="menu-level2__itemdescr">Написать, позвонить, послать файл</div>
        </div>
        <ul class="menu-level3">
          <li class="menu-level3__item">
            <a href="https://biz.mail.ru/mail/" class="menu-level3__block">
              <img src="{{ static('menu/ic-mail.svg')}}" alt="Почта для домена" class="menu-level3__itemicon" />
              <span class="menu-level3__itemname">Почта для домена</span>
              Почта для вашего домена
            </a>
          </li>
          <li class="menu-level3__item">
            <a href="https://biz.mail.ru/teambox/" class="menu-level3__block menu-level3__block_active">
              <img src="{{ static('menu/ic-teambox.svg')}}" alt="Teambox" class="menu-level3__itemicon" />
              <span class="menu-level3__itemname">Teambox</span>
              Файловое хранилище
            </a>
          </li>
          <li class="menu-level3__item">
            <a href="https://biz.mail.ru/myteam/" class="menu-level3__block">
              <img src="{{ static('menu/ic-myteam.svg')}}" alt="Myteam" class="menu-level3__itemicon" />
              <span class="menu-level3__itemname">Myteam</span>
              Мессенджер для компании
            </a>
          </li>
        </ul>
      </li>
      <li class="menu-level2__item" data-base-class="menu-level2__item">
        <div class="menu-level2__block" data-target="child">
          <div class="menu-level2__itemname">
            Сервисы для развития бизнеса
            <svg class="menu-level2__arrow" width="6" height="5" viewBox="0 0 6 5" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M5.829 1.226C5.936 1.097 6 0.931 6 0.75C6 0.336 5.664 2.93741e-08 5.25 6.55671e-08L0.75 4.5897e-07C0.336 4.95163e-07 2.93741e-08 0.336001 6.55671e-08 0.750001C8.13906e-08 0.931001 0.0640002 1.097 0.171 1.226L2.394 4.192C2.53 4.378 2.751 4.5 3 4.5C3.249 4.5 3.47 4.378 3.606 4.192L5.829 1.226Z" />
            </svg>
          </div>
          <div class="menu-level2__itemdescr">Создать сайт, опрос, рассылку</div>
        </div>
        <ul class="menu-level3">
          <li class="menu-level3__item">
            <a href="https://biz.mail.ru/sendbox/" class="menu-level3__block">
              <img src="{{ static('menu/ic-sendbox.svg')}}" alt="Sendbox" class="menu-level3__itemicon" />
              <span class="menu-level3__itemname">Sendbox</span>
              Сервис рассылок
            </a>
          </li>
          <li class="menu-level3__item">
            <a href="https://biz.mail.ru/sitebox/" class="menu-level3__block">
              <img src="{{ static('menu/ic-sitebox.svg')}}" alt="Sitebox" class="menu-level3__itemicon" />
              <span class="menu-level3__itemname">Sitebox</span>
              Конструктор сайтов
            </a>
          </li>
          <li class="menu-level3__item">
            <a href="https://biz.mail.ru/askbox/" class="menu-level3__block">
              <img src="{{ static('menu/ic-askbox.svg')}}" alt="Askbox" class="menu-level3__itemicon" />
              <span class="menu-level3__itemname">Askbox</span>
              Сервис опросов
            </a>
          </li>
        </ul>
      </li>
      <li class="menu-level2__item" data-base-class="menu-level2__item">
        <div class="menu-level2__block" data-target="child">
          <div class="menu-level2__itemname">
            Vision технологии
            <svg class="menu-level2__arrow" width="6" height="5" viewBox="0 0 6 5" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M5.829 1.226C5.936 1.097 6 0.931 6 0.75C6 0.336 5.664 2.93741e-08 5.25 6.55671e-08L0.75 4.5897e-07C0.336 4.95163e-07 2.93741e-08 0.336001 6.55671e-08 0.750001C8.13906e-08 0.931001 0.0640002 1.097 0.171 1.226L2.394 4.192C2.53 4.378 2.751 4.5 3 4.5C3.249 4.5 3.47 4.378 3.606 4.192L5.829 1.226Z" />
            </svg>
          </div>
          <div class="menu-level2__itemdescr">Распознать объекты и документы</div>
        </div>
        <ul class="menu-level3">
          <li class="menu-level3__item">
            <a href="https://mcs.mail.ru/vision/" class="menu-level3__block">
              <img src="{{ static('menu/ic-vision.svg')}}" alt="Vision" class="menu-level3__itemicon" />
              <span class="menu-level3__itemname">Vision</span>
              Компьютерное зрение
            </a>
          </li>
          <li class="menu-level3__item">
            <a href="https://biz.mail.ru/events/" class="menu-level3__block">
              <img src="{{ static('menu/ic-events.svg')}}" alt="Vision для мероприятий" class="menu-level3__itemicon" />
              <span class="menu-level3__itemname">Vision для мероприятий</span>
              Поиск людей по фотографиям
            </a>
          </li>
          <li class="menu-level3__item">
            <a href="https://biz.mail.ru/visiondoc/" class="menu-level3__block">
              <img src="{{ static('menu/ic-visiondoc.svg')}}" alt="Vision Document" class="menu-level3__itemicon" />
              <span class="menu-level3__itemname">Vision Document</span>
              Распознавание документов
            </a>
          </li>
        </ul>
      </li>
      <li class="menu-level2__item" data-base-class="menu-level2__item">
        <div class="menu-level2__block" data-target="child">
          <div class="menu-level2__itemname">
            Корпоративные продукты
            <svg class="menu-level2__arrow" width="6" height="5" viewBox="0 0 6 5" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M5.829 1.226C5.936 1.097 6 0.931 6 0.75C6 0.336 5.664 2.93741e-08 5.25 6.55671e-08L0.75 4.5897e-07C0.336 4.95163e-07 2.93741e-08 0.336001 6.55671e-08 0.750001C8.13906e-08 0.931001 0.0640002 1.097 0.171 1.226L2.394 4.192C2.53 4.378 2.751 4.5 3 4.5C3.249 4.5 3.47 4.378 3.606 4.192L5.829 1.226Z" />
            </svg>
          </div>
          <div class="menu-level2__itemdescr">Почта, мессенджер, хранилище</div>
        </div>
        <ul class="menu-level3">
          <li class="menu-level3__item">
            <a href="https://biz.mail.ru/onpremise/mail" class="menu-level3__block">
              <img src="{{ static('menu/ic-mail.svg')}}" alt="Корпоративная Почта" class="menu-level3__itemicon" />
              <span class="menu-level3__itemname">Корпоративная Почта</span>
              Почта, календарь и контакты
            </a>
          </li>
          <li class="menu-level3__item">
            <a href="https://biz.mail.ru/onpremise/messenger" class="menu-level3__block">
              <img src="{{ static('menu/ic-teambox.svg')}}" alt="Корпоративное Хранилище" class="menu-level3__itemicon" />
              <span class="menu-level3__itemname">Корпоративное Хранилище</span>
              Работа с документами онлайн
            </a>
          </li>
          <li class="menu-level3__item">
            <a href="https://biz.mail.ru/onpremise/file_storage" class="menu-level3__block">
              <img src="{{ static('menu/ic-myteam.svg')}}" alt="Корпоративный Мессенджер" class="menu-level3__itemicon" />
              <span class="menu-level3__itemname">Корпоративный Мессенджер</span>
              Сообщения, звонки, чат-боты
            </a>
          </li>
        </ul>
      </li>
    </ul>
    {% include 'templates/menu-extra.html' %}
  </div>
</div>
