<div class="menu__dropdown">
  <div class="wrap menu__dropdownwrap">
    <ul class="menu-level2">
      <li class="menu-level2__item">
        <a href="https://biz.mail.ru/onpremise/enterprise" class="menu-level2__block menu-level2__block_onlyname">
          <span class="menu-level2__itemname">Крупный бизнес</span>
        </a>
      </li>
      <li class="menu-level2__item">
        <a href="https://biz.mail.ru/onpremise/government" class="menu-level2__block menu-level2__block_onlyname menu-level2__block_active">
          <span class="menu-level2__itemname">Госсектор</span>
        </a>
      </li>
      <li class="menu-level2__item">
        <a href="https://biz.mail.ru/onpremise/small-business" class="menu-level2__block menu-level2__block_onlyname">
          <span class="menu-level2__itemname">Cредний и малый бизнес</span>
        </a>
      </li>
    </ul>
    {% include 'templates/menu-extra.html' %}
  </div>
</div>
