<section class="news">
  <div class="news__list owl-carousel" data-carousel="news">
    <div class="news__item news__item_first">
      <a href="#" target="_blank" class="news__block">
        <span class="news__imgbox">
          <img src="{{ static('news1.jpg')}}" alt="" class="news__img" />
        </span>
        <span class="news__text">
          <span class="news__title">Организация бэкапа PostgreSQL из&nbsp;Kubernetes в&nbsp;S3-хранилище</span>
          <span class="news__date">19&nbsp;апреля 2020</span>
        </span>
      </a>
    </div>
    <div class="news__item">
      <a href="#" target="_blank" class="news__block">
        <span class="news__imgbox">
          <img src="{{ static('news2.jpg')}}" alt="" class="news__img" />
        </span>
        <span class="news__text">
          <span class="news__title">Разработка API с&nbsp;GraphQL</span>
          <span class="news__date">19&nbsp;апреля 2020</span>
        </span>
      </a>
    </div>
    <div class="news__item">
      <a href="#" target="_blank" class="news__block">
        <span class="news__imgbox">
          <img src="{{ static('news3.jpg')}}" alt="" class="news__img" />
        </span>
        <span class="news__text">
          <span class="news__title">Запускаем WordPress c&nbsp;MySQL в&nbsp;Kubernetes</span>
          <span class="news__date">19&nbsp;апреля 2020</span>
        </span>
      </a>
    </div>
    <div class="news__item news__item">
      <a href="#" target="_blank" class="news__block">
        <span class="news__imgbox">
          <img src="{{ static('news1.jpg')}}" alt="" class="news__img" />
        </span>
        <span class="news__text">
          <span class="news__title">Организация бэкапа PostgreSQL из&nbsp;Kubernetes в&nbsp;S3-хранилище</span>
          <span class="news__date">19&nbsp;апреля 2020</span>
        </span>
      </a>
    </div>
    <div class="news__item">
      <a href="#" target="_blank" class="news__block">
        <span class="news__imgbox">
          <img src="{{ static('news2.jpg')}}" alt="" class="news__img" />
        </span>
        <span class="news__text">
          <span class="news__title">Разработка API с&nbsp;GraphQL</span>
          <span class="news__date">19&nbsp;апреля 2020</span>
        </span>
      </a>
    </div>
    <div class="news__item">
      <a href="#" target="_blank" class="news__block">
        <span class="news__imgbox">
          <img src="{{ static('news3.jpg')}}" alt="" class="news__img" />
        </span>
        <span class="news__text">
          <span class="news__title">Запускаем WordPress c&nbsp;MySQL в&nbsp;Kubernetes</span>
          <span class="news__date">19&nbsp;апреля 2020</span>
        </span>
      </a>
    </div>






    <div class="news__item news__item_last">
      <a href="#" target="_blank" class="news__block">
        <span class="news__imgbox">
          <img src="{{ static('news3.jpg')}}" alt="" class="news__img" />
        </span>
        <span class="news__text">
          <span class="news__title">Запускаем WordPress c&nbsp;MySQL в&nbsp;Kubernetes</span>
          <span class="news__date">19&nbsp;апреля 2020</span>
        </span>
      </a>
    </div>
  </div>
</section>
