<div class="partners">
  <div class="partners__wrap owl-carousel" data-carousel="partners">
    <div class="partners__item">
      <div class="partners__block">
        <div class="partners__img-wrap">
          <i class="partners__img partners__img_first"></i>
        </div>

        <div class="partners__text">
          Почта для домена Mail.ru — удобно, быстро и мобильно.
        </div>
      </div>
      <div class="partners__block">
        <div class="partners__name">Артем Крючков,</div>
        <div class="partners__description">
          сотрудник ИТ службы<br />ГК «Сушивёсла»
        </div>
      </div>
    </div>

    <div class="partners__item">
      <div class="partners__block">
        <div class="partners__img-wrap">
          <i class="partners__img partners__img_second"></i>
        </div>

        <div class="partners__text">
          С переносом почты на удаленные серверы Mail.ru для бизнеса
          освободилось много собственных внутренних ресурсов.
        </div>
      </div>
      <div class="partners__block">
        <div class="partners__name">Жандос Алтыбаев,</div>
        <div class="partners__description">
          менеджер IT-отдела<br />АО Компания «Монтажспецстрой»
        </div>
      </div>
    </div>

    <div class="partners__item">
      <div class="partners__block">
        <div class="partners__img-wrap">
          <i class="partners__img partners__img_third"></i>
        </div>
        <div class="partners__text">
          После перехода на Mail.ru для бизнеса письма клиентов стали на 80%
          реже&nbsp;попадать в спам.
        </div>
      </div>
      <div class="partners__block">
        <div class="partners__name">Виталий Одинцов,</div>
        <div class="partners__description">
          системный инженер сеть <br />
          английских пабов «Temple Bar»
        </div>
      </div>
    </div>
  </div>
</div>
