<ul class="soc">
  <li class="soc__item soc__item_title">Обратная связь</li>
  <li class="soc__item">
    <a href="https://www.facebook.com/biz.mail.ru/" class="soc__link" target="_blank">
      <img src="{{ static('facebook.svg')}}" alt="Facebook" class="soc__icon" />
    </a>
  </li>
  <li class="soc__item">
    <a href="https://vk.com/bizmlru" class="soc__link" target="_blank">
      <img src="{{ static('vk.svg')}}" alt="Вконтакте" class="soc__icon" />
    </a>
  </li>
  <li class="soc__item">
    <a href="https://www.youtube.com/user/mailruvideo" class="soc__link" target="_blank">
      <img src="{{ static('youtube.svg')}}" alt="Youtube" class="soc__icon" />
    </a>
  </li>
  <li class="soc__item">
    <a href="https://www.linkedin.com/company/biz-mail-ru/" class="soc__link" target="_blank">
      <img src="{{ static('linkd.svg')}}" alt="Linkd" class="soc__icon" />
    </a>
  </li>
</ul>
