<section class="start">
  <div class="wrap start__wrap">
    <div class="start__content">
      <h1 class="start__title">
        Сервисы коммуникаций для малого и среднего бизнеса
      </h1>
      <h2 class="start__text">
        Упрощайте процессы, экономьте на инфраструктуре, персонале и капитальных
        расходах.
      </h2>
      <div class="start__button">
        <button
          type="button"
          class="button button_type1 start__buttonlink"
          data-target="formRequest"
        >
          Оставить заявку
        </button>
      </div>
    </div>
  </div>
</section>
