<section class="subscription">
  <div class="wrap subscription__wrap">
    <div class="subscription__head">
      <h2 class="subscription__title">
        Подпишитесь на&nbsp;блог о&nbsp;технологиях для бизнеса
      </h2>
      <div class="subscription__text">
        Получайте полезные статьи первыми&nbsp;&mdash;&nbsp;раз в&nbsp;неделю
        и&nbsp;без спама
      </div>
    </div>
    <form class="subscription__box" data-form="subscription">
      <div class="subscription__form">
        <div class="subscription__filedbox">
          <input
            type="text"
            name="email"
            placeholder="Введите email"
            value=""
            class="subscription__filed"
          />
          <div class="subscription__message" hidden data-message></div>
        </div>
        <button type="submit" class="button button_type2 subscription__button">
          Подписаться
        </button>
      </div>
    </form>
  </div>
</section>
