.button {
  @import '../main/variables';
  @import '../main/variables.fonts';
  @import '../main/variables.colors';

  display: inline-block;
  font-family: 'Mail_Sans_Roman', sans-serif;
  color: $color-white;
  font-size: $font-size-15;
  font-weight: 500;
  padding: 0 32px;
  line-height: normal;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  border: 0 none;
  outline: none;
  box-sizing: border-box;
  border-radius: 8px;
  cursor: pointer;
  height: 48px;

  @media (min-width: $desktop-l) {
    font-size: $font-size-20;
    font-weight: 600;
    padding: 0 40px;
    border-radius: 12px;
    height: 60px;
  }

  &_type1 {
    background: $color-button-type1;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background: $color-button-type1-hover;
      }
    }
  }

  &_type2 {
    background: $color-button-type2;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background: $color-button-type2-hover;
      }
    }
  }
}
