.faq {
  @import '../main/variables';
  @import '../main/variables.fonts';
  @import '../main/variables.colors';

  background-color: $color-white;

  &_wrap {
    padding: 60px 10px;

    @media (min-width: $tablet) {
      padding: 72px 40px;
    }

    @media (min-width: $desktop) {
      padding: 64px 80px;
    }

    @media (min-width: $desktop-l) {
      padding-top: 86px;
      padding-bottom: 86px;
    }
  }

  &__block {
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;

    @media (min-width: $desktop) {
      flex-direction: row;
    }
  }

  &__form {
    @media (min-width: $mobile-s) {
      max-width: 300px;
      margin: 0 auto;
      display: block;
    }

    @media (min-width: $mobile-m) {
      margin-left: 0;
      margin-right: 0;
    }

    @media (min-width: $tablet) {
      display: block;
      margin-top: 32px;
      max-width: 100%;
      margin-left: 0;
      margin-right: 0;
    }

    @media (min-width: $desktop) {
      margin-top: 0;
    }

    @media (min-width: $desktop-l) {
      max-width: 420px;
    }

    &-title {
      max-width: 300px;
      font-weight: 500;
      @media (min-width: $mobile-s) {
        display: none;
      }
      @media (min-width: $tablet) {
        max-width: 100%;
      }

      @media (min-width: $desktop) {
        display: block;
        font-size: $font-size-44;
        line-height: $line-height-50;
        font-family: 'Mail_Sans_Roman', sans-serif;
        margin: 0 0 16px;
      }

      @media (min-width: $desktop-l) {
        font-size: $font-size-52;
        line-height: $line-height-60;

        font-family: 'Mail_Sans_Roman', sans-serif;
      }

      &_tablet {
        font-size: $font-size-36;
        line-height: $line-height-42;
        margin-top: 0;
        font-weight: 500;
        display: block;

        @media (min-width: $desktop) {
          display: none;
        }
      }
    }

    &-description {
      font-size: $font-size-20;
      line-height: $line-height-26;
      font-family: 'Mail_Sans_Roman', sans-serif;
      max-width: 340px;
      margin-bottom: 32px;
      font-weight: 500;

      @media (min-width: $tablet) {
        margin: 0 0 32px;
        font-size: $font-size-26;
        line-height: $line-height-32;
      }

      @media (min-width: $desktop) {
        max-width: 200px;
        margin-bottom: 32px;
        font-size: $font-size-14;
        line-height: $line-height-22;
        font-family: 'Mail_Sans_Roman', sans-serif;
        font-weight: 400;
      }
      @media (min-width: $desktop-l) {
        max-width: 260px;
        font-size: $font-size-17;
        line-height: $line-height-28;
        margin-bottom: 36px;
      }
    }

    .button_type2 {
      width: 100%;
      max-width: 163px;

      @media (min-width: $desktop-l) {
        max-width: 210px;
      }
    }
  }

  .faq_button {
    max-width: 100%;
    @media (min-width: $tablet) {
      max-width: 163px;
    }
    @media (min-width: $desktop-l) {
      max-width: 210px;
    }
  }

  &__link {
    text-decoration: underline;
    color: inherit;
  }

  &__right {
    @media (min-width: $desktop) {
      max-width: 573px;
      width: 100%;
    }
    @media (min-width: $desktop-l) {
      max-width: 700px;
      width: 100%;
    }

    &-item {
      position: relative;
      border-radius: 24px;
      background-color: $color-gray;
      padding: 24px 24px 29px;
      margin-bottom: 24px;
      cursor: pointer;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .faq__open-close {
      float: right;
      margin-left: 20px;
      margin-bottom: 10px;
      position: relative;
      padding: 6px 0;
      width: 14px;
      cursor: pointer;

      &::after {
        position: absolute;
        content: '';
        width: 100%;
        height: 2px;
        background-color: $color-main;
      }

      &::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 2px;
        background-color: $color-main;
        transform: rotate(90deg);
      }

      &_active {
        &::before {
          display: none;
        }
      }
    }

    &-question {
      font-weight: 500;
      font-size: $font-size-17;
      line-height: $line-height-24;
      font-family: 'Mail_Sans_Roman', sans-serif;
      @media (min-width: $desktop-l) {
        font-size: $font-size-20;
        line-height: $line-height-26;
      }
    }

    &-answer {
      font-size: $font-size-15;
      line-height: $line-height-24;
      font-family: 'Mail_Sans_Roman', sans-serif;
      display: none;
      max-width: 600px;
      font-weight: 400;
      @media (min-width: $desktop) {
        font-size: $font-size-14;
        line-height: $line-height-22;
      }

      @media (min-width: $desktop-l) {
        font-size: $font-size-17;
        line-height: $line-height-28;
      }

      &_active {
        display: block;
        margin-top: 16px;
      }
    }
  }
}
