.faq {
  @import '../main/variables';
  @import '../main/variables.fonts';
  @import '../main/variables.colors';

  background-color: $color-white;

  &_wrap {
    padding: 60px 10px;
    padding-top: 82px;

    @media (min-width: $tablet) {
      padding: 72px 40px;
      max-width: $tablet;
      padding-top: 64px;
    }

    @media (min-width: $desktop) {
      padding: 64px 106px;
      max-width: $desktop;
    }

    @media (min-width: $desktop-l) {
      padding: 86px 140px;
      max-width: $desktop-l;
      padding-top: 82px;
    }
  }

  &__block {
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;

    @media (min-width: $desktop) {
      flex-direction: row;
    }
  }

  &__form {
    display: block;

    @media (min-width: $tablet) {
      display: block;
      margin-top: 32px;
      max-width: 100%;
      margin-left: 0;
      margin-right: 0;
    }

    @media (min-width: $desktop) {
      margin-top: 0;
    }

    @media (min-width: $desktop-l) {
      max-width: 420px;
    }

    &-title {
      max-width: 300px;
      font-weight: 500;
      @media (min-width: $mobile-s) {
        display: none;
      }
      @media (min-width: $tablet) {
        max-width: 100%;
      }

      @media (min-width: $desktop) {
        display: block;
        font-size: $font-size-44;
        line-height: $line-height-50;
        font-family: 'Mail_Sans_Roman', sans-serif;
        margin: 0 0 16px;
      }

      @media (min-width: $desktop-l) {
        font-size: $font-size-52;
        line-height: $line-height-60;

        font-family: 'Mail_Sans_Roman', sans-serif;
      }

      &_tablet {
        font-size: $font-size-36;
        line-height: $line-height-42;
        margin-top: 0;
        font-weight: 500;
        display: block;
        padding: 0 20px;

        @media (min-width: $desktop) {
          display: none;
        }
      }
    }

    &-description {
      color: $color-main;
      font-size: $font-size-20;
      line-height: $line-height-26;
      font-family: 'Mail_Sans_Roman', sans-serif;
      max-width: 300px;
      font-weight: 500;
      margin: 32px 20px;
      @media (min-width: $mobile) {
        margin: 32px;
      }

      @media (min-width: $tablet) {
        max-width: 340px;
        margin: 0 0 32px;
        font-size: $font-size-26;
        line-height: $line-height-32;
      }

      @media (min-width: $desktop) {
        max-width: 200px;
        margin-bottom: 32px;
        font-size: $font-size-14;
        line-height: $line-height-22;
        font-family: 'Mail_Sans_Roman', sans-serif;
        font-weight: 400;
      }
      @media (min-width: $desktop-l) {
        max-width: 260px;
        font-size: $font-size-17;
        line-height: $line-height-28;
        margin-bottom: 36px;
      }
    }

    .button_type2 {
      width: 100%;

      @media (min-width: $mobile) {
        max-width: 300px;
        margin: 0 28px 0 27px;
      }
      @media (min-width: $tablet) {
        max-width: 163px;
        margin: 0;
      }
      @media (min-width: $desktop-l) {
        max-width: 210px;
      }
    }
  }

  &__link {
    text-decoration: underline;
    color: inherit;
  }

  &__right {
    @media (min-width: $desktop) {
      max-width: 470px;
      width: 100%;
    }
    @media (min-width: $desktop-l) {
      max-width: 630px;
      width: 100%;
    }

    &-item {
      position: relative;
      border-radius: 24px;
      background-color: $color-gray;
      padding: 20px;
      margin-bottom: 24px;
      cursor: pointer;

      &:last-child {
        margin-bottom: 0;
      }
      @media (min-width: $tablet) {
        padding: 24px;
      }
    }

    .faq__open-close-wrap {
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);

      &_active {
        top: 35px;
        transform: none;
      }
    }

    .faq__open-close {
      position: relative;
      width: 14px;
      height: 14px;
      cursor: pointer;
      transition: all ease 0.2s;

      &::after {
        position: absolute;
        content: '';
        width: 100%;
        height: 2px;
        background-color: $color-main;
        top: 50%;
        transform: translateY(-50%);
        left: 0%;
      }

      &::before {
        position: absolute;
        content: '';
        width: 2px;
        height: 100%;
        background-color: $color-main;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
      }

      &_active {
        &::before {
          display: none;
        }
      }
    }

    &-question {
      font-weight: 500;
      font-size: $font-size-17;
      line-height: $line-height-24;
      font-family: 'Mail_Sans_Roman', sans-serif;
      margin-right: 24px;
      @media (min-width: $desktop-l) {
        font-size: $font-size-20;
        line-height: $line-height-26;
      }
    }

    &-answer {
      font-size: $font-size-15;
      line-height: $line-height-24;
      font-family: 'Mail_Sans_Roman', sans-serif;
      display: none;
      max-width: 600px;
      font-weight: 400;
      @media (min-width: $desktop) {
        font-size: $font-size-14;
        line-height: $line-height-22;
      }

      @media (min-width: $desktop-l) {
        font-size: $font-size-17;
        line-height: $line-height-28;
      }

      &_active {
        display: block;
        margin-top: 16px;
      }
    }
  }
}
