.features {
  @import '../main/variables';
  @import '../main/variables.fonts';
  @import '../main/variables.colors';

  &__wrap {
    padding-top: 32px;
    @media (min-width: $tablet) {
      display: flex;
      flex-wrap: wrap;
      padding: 56px 82px 64px;
      margin: 0 auto;
      max-width: $tablet;
    }

    @media (min-width: $desktop) {
      display: block;
      box-sizing: border-box;
      padding: 56px 106px 64px;
      max-width: $desktop;
    }
    @media (min-width: $desktop-l) {
      padding: 64px 140px 82px;
      max-width: $desktop-l;
    }
  }

  &__list {
    @media (min-width: $tablet) {
      display: contents;
    }
    @media (min-width: $desktop) {
      display: flex;
      justify-content: flex-start;
      padding-bottom: 42px;

      &:last-child {
        padding-bottom: 0;
      }
    }
    @media (min-width: $desktop-l) {
      padding-bottom: 50px;
    }
  }

  &__item {
    max-width: 320px;
    text-align: center;
    margin: 0 auto 62px;

    @media (min-width: $tablet) and (max-width: $desktop - 1) {
      margin: 0;
      margin-bottom: 32px;
      text-align: left;
      max-width: 280px;

      &_mr {
        margin-right: 32px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    @media (min-width: $desktop) {
      // width: calc(33.3333% - 50px);
      max-width: inherit;
      text-align: left;
      margin: 0;
      margin-right: 42px;
      width: 240px;

      &:first-child {
        margin-right: 46;
      }

      &:last-child {
        margin-right: 0;
      }
    }

    @media (min-width: $desktop-l) {
      width: 310px;
      margin-right: 76px;

      &:last-child {
        margin-right: 0;
      }

      &:first-child {
        width: 295px;
        margin-right: 89px;
      }
    }
  }

  &__name {
    margin-top: 0;
    margin-bottom: 16px;
    font-size: $font-size-20;
    line-height: $line-height-26;
    font-weight: 500;
    color: $color-black;

    &_short {
      @media (min-width: $desktop) {
        max-width: 200px;
      }
    }

    @media (min-width: $tablet) {
      font-size: $font-size-17;
      line-height: $line-height-24;
    }

    @media (min-width: $desktop) {
      font-size: $font-size-20;
      line-height: $line-height-26;
    }
  }

  &__icon {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 44px;
    height: 44px;
    @media (min-width: $tablet) {
      margin-left: 0;
    }
    @media (min-width: $desktop) {
      margin: 0;
      margin-bottom: 12px;
    }
    @media (min-width: $desktop-l) {
      margin-bottom: 13px;
      width: 60px;
      height: 60px;
    }

    &_1 {
      background-image: url($img + "/icon-1.svg");

      @media (min-width: $tablet) {
        background-image: url($img + "/icon-1.svg");
      }
      @media (min-width: $desktop) {
        transform: translateX(-11px);
      }
      @media (min-width: $desktop-l) {
        transform: translateX(-15px);
      }
    }

    &_2 {
      background-image: url($img + "/icon-2.svg");

      @media (min-width: $tablet) {
        background-image: url($img + "/icon-2.svg");
      }
      @media (min-width: $desktop) {
        transform: translateX(-11px);
      }
      @media (min-width: $desktop-l) {
        transform: translateX(-14px);
      }
    }

    &_3 {
      background-image: url($img + "/icon-3.svg");

      @media (min-width: $tablet) {
        background-image: url($img + "/icon-3.svg");
      }
      @media (min-width: $desktop) {
        transform: translateX(-6px);
      }
      @media (min-width: $desktop-l) {
        transform: translateX(-8px);
      }
    }

    &_4 {
      background-image: url($img + "/icon-4.svg");

      @media (min-width: $tablet) {
        background-image: url($img + "/icon-4.svg");
      }
      @media (min-width: $desktop) {
        transform: translateX(-9px);
      }
      @media (min-width: $desktop-l) {
        transform: translateX(-11px);
      }
    }

    &_5 {
      background-image: url($img + "/icon-5.svg");

      @media (min-width: $tablet) {
        background-image: url($img + "/icon-5.svg");
      }
      @media (min-width: $desktop) {
        transform: translateX(-8px);
      }
      @media (min-width: $desktop-l) {
        transform: translateX(-9px);
      }
    }

    &_6 {
      background-image: url($img + "/icon-6.svg");

      @media (min-width: $tablet) {
        background-image: url($img + "/icon-6.svg");
      }
      @media (min-width: $desktop) {
        transform: translateX(-7px);
      }
      @media (min-width: $desktop-l) {
        transform: translateX(-9px);
      }
    }

    &_7 {
      background-image: url($img + "/icon-6.svg");

      @media (min-width: $tablet) {
        background-image: url($img + "/icon-6.svg");
      }
      @media (min-width: $desktop) {
        transform: translateX(-7px);
      }
      @media (min-width: $desktop-l) {
        transform: translateX(-9px);
      }
    }

    &_8 {
      background-image: url($img + "/icon-6.svg");

      @media (min-width: $tablet) {
        background-image: url($img + "/icon-6.svg");
      }
      @media (min-width: $desktop) {
        transform: translateX(-7px);
      }
      @media (min-width: $desktop-l) {
        transform: translateX(-9px);
      }
    }
  }

  &__img {
    width: 100%;
    height: 100%;
  }

  &__text {
    margin: 0;
    font-weight: 400;
    font-size: $font-size-15;
    line-height: $line-height-24;
    @media (min-width: $desktop) {
      font-size: $font-size-14;
      line-height: $line-height-22;
    }
    @media (min-width: $desktop-l) {
      font-size: $font-size-17;
      line-height: $line-height-28;
    }

    &_fat {
      @media (min-width: $desktop) and (max-width: $desktop-l - 1) {
        width: 243px;
      }
    }
  }
}
