.form {
  @import '../main/variables.fonts';
  @import '../main/variables.colors';
  @import '../main/mixin';

  margin: 0;
  padding: 0;

  &__row {
    margin-bottom: 20px;
    position: relative;
  }

  &__field {
    width: 100%;
    font-family: 'Mail_Sans_Roman', sans-serif;
    font-size: 15px;
    line-height: $line-height-20;
    padding: 20px 20px 6px;
    color: #303132;
    outline: none;
    border: 1px solid rgba(0, 16, 61, 0.12);
    border-radius: 10px;
    box-sizing: border-box;
    appearance: none;
    font-weight: 400;

    @include placeholder($color-placeholder);

    &:focus {
      @include placeholder(transparent);
    }

    &_error {
      border-color: $color-error2;
    }
  }

  &__placeholder {
    font-size: $font-size-16;
    position: absolute;
    color: $color-placeholder;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    transition: all ease 0.2s;
    pointer-events: none;

    &_active {
      top: 9px;
      transform: none;
      font-size: 11px;
      line-height: 1;
    }
  }

  &__button {
    width: 100%;
    margin-top: 6px;
  }

  &__error {
    margin-bottom: 4px;
    font-size: $font-size-14;
    line-height: $line-height-20;
    color: $color-error2;

    &:last-child {
      margin-bottom: 12px;
    }
  }
}
