.header {
  @import '../main/variables';
  @import '../main/variables.colors';

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 22px;
  z-index: 100;

  @media (min-width: $tablet) {
    padding-top: 30px;
  }

  @media (min-width: $desktop) {
    padding-top: 36px;
  }

  &__wrap {
    display: flex;
    align-items: center;

    @media (max-width: ($desktop - 1)) {
      flex-direction: row-reverse;
      justify-content: flex-end;
    }

    @media (min-width: $desktop) {
      justify-content: space-between;
    }
  }

  &__logo {
    position: relative;
    display: block;
    width: auto;
    height: 30px;
    z-index: 1;

    @media (min-width: $desktop) {
      height: 36px;
    }
  }
}
