.menu {
  @import '../main/variables';
  @import '../main/variables.fonts';
  @import '../main/variables.colors';
  margin: 0;
  padding: 0;
  list-style: none;
  @media (min-width: $desktop) {
    display: flex;
    align-items: center;
  }

  &__arrow {
    position: absolute;
    top: 50%;
    right: 0;
    fill: $color-white;
    transform: translateY(-50%);

    @media (min-width: $desktop) {
      right: 25px;
      fill: $color-menu-item;
    }
  }

  &__dropdown {
    display: none;

    @media (min-width: $desktop) {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      padding-top: 126px;
      padding-bottom: 30px;
      background: $color-dark;
      box-shadow: 0 16px 48px rgba(0, 16, 61, 0.48);
    }
  }

  &__item {
    margin: 0;
    padding: 0;
    margin-bottom: 48px;

    @media (min-width: $desktop) {
      margin-bottom: 0;
    }

    @media (min-width: $desktop-l) {
      margin-right: 24px;
    }

    @media (min-width: $desktop) and (hover: hover) and (pointer: fine) {
      &:hover {
        .menu__door {
          color: $color-white;
          background: $color-menu-door-hover;
        }

        .menu__arrow {
          fill: $color-white;
          transform: translateY(-50%) scale(1, -1);
        }

        .menu__dropdown {
          display: block;
        }
      }
    }

    &_open {
      .menu__arrow {
        fill: $color-white;
        transform: translateY(-50%) scale(1, -1);
      }

      .menu__dropdown {
        display: block;
      }

      @media (min-width: $desktop) {
        .menu__door {
          color: $color-white;
          background: $color-menu-door-hover;
        }
      }
    }
  }

  &__door {
    position: relative;
    display: inline-block;
    font-weight: 500;
    font-size: $font-size-15;
    line-height: $line-height-20;
    color: $color-white;
    padding-right: 20px;
    cursor: pointer;

    @media (min-width: $desktop) {
      display: block;
      color: $color-menu-item;
      padding: 10px 40px 10px 20px;
      border-radius: 8px;
      z-index: 1;
    }
  }

  &__dropdownwrap {
    @media (max-width: ($desktop - 1)) {
      padding: 0;
      max-width: inherit;
    }

    @media (min-width: $desktop) {
      position: relative;
    }
  }

  &-level3 {
    display: none;
    margin: 0 0 8px;
    padding: 0;
    list-style: none;

    @media (min-width: $desktop) {
      position: absolute;
      left: 100%;
      top: 0;
      bottom: 0;
      padding-left: 70px;
      width: 280px;
      margin: 0;
    }

    &__item {
      margin: 0 0 12px;

      @media (min-width: $desktop) {
        margin-bottom: 24px;
      }
    }

    &__block {
      position: relative;
      display: block;
      font-size: $font-size-13;
      line-height: $line-height-18;
      color: $color-menu-item;
      text-decoration: none;
      padding: 8px 0 8px 60px;
      border-radius: 8px;

      @media (min-width: $desktop) {
        font-size: $font-size-15;
        line-height: $line-height-20;
        padding: 8px 0 8px 44px;
        min-height: 36px;
      }

      &_active {
        @media (max-width: ($desktop - 1)) {
          background-color: $color-menu-door-hover;
        }
      }
    }

    &__itemname {
      display: block;
      font-weight: 500;
      color: $color-white;
    }

    &__itemicon {
      display: block;
      position: absolute;
      top: 50%;
      left: 12px;
      width: auto;
      height: 36px;
      transform: translateY(-50%);

      @media (min-width: $desktop) {
        left: 0;
      }
    }
  }

  &-level2 {
    position: relative;
    margin: 29px 0 38px -12px;
    padding: 0;
    list-style: none;

    @media (min-width: $desktop) {
      margin-left: -16px;
      margin-top: 0;
      margin-bottom: 0;
      width: 280px;
    }

    &__arrow {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      fill: currentColor;

      @media (min-width: $desktop) {
        display: none;
      }
    }

    &__item {
      @media (min-width: $desktop) and (hover: hover) and (pointer: fine) {
        &:hover {
          .menu-level2__block {
            background: $color-menu-door-hover;
          }

          .menu-level2__itemname {
            color: $color-white;
          }

          .menu-level3 {
            display: block;
          }
        }
      }

      @media (min-width: $desktop) {
        margin-bottom: 24px;
      }

      &_open {
        .menu-level2__arrow {
          transform: translateY(-50%) scale(1, -1);
        }

        .menu-level3 {
          display: block;
        }

        @media (min-width: $desktop) {
          .menu-level2__block {
            background: $color-menu-door-hover;
          }

          .menu-level2__itemname {
            color: $color-white;
          }
        }
      }
    }

    &_column2 {
      @media (min-width: $desktop) {
        width: 630px;
        column-count: 2;
        column-gap: 70px;
      }

      .menu-level2__item {
        @media (min-width: $desktop) {
          page-break-inside: avoid;
          break-inside: avoid;
        }
      }
    }

    &__itemname {
      position: relative;
      display: inline-block;
      padding-right: 20px;
      font-weight: 500;
      color: $color-menu-item;

      @media (min-width: $desktop) {
        display: block;
        padding-right: 0;
      }
    }

    &__block {
      display: block;
      padding: 19px 12px;
      font-size: $font-size-13;
      line-height: $line-height-18;
      color: $color-menu-item;
      text-decoration: none;
      cursor: pointer;
      box-sizing: border-box;
      border-radius: 8px;

      @media (min-width: $desktop) {
        padding: 8px 16px;
        min-height: 56px;
        font-size: $font-size-15;
        line-height: $line-height-20;
      }

      &_active {
        @media (max-width: ($desktop - 1)) {
          background-color: $color-menu-door-hover;
        }

        .menu-level2__itemname {
          @media (max-width: ($desktop - 1)) {
            color: $color-white;
          }
        }
      }

      &_onlyname {
        display: flex;
        align-items: center;
      }
    }

    &__itemdescr {
      @media (max-width: ($desktop - 1)) {
        display: none;
      }
    }

    a.menu-level2__block {
      .menu-level2__itemname {
        @media (min-width: $desktop) {
          color: $color-white;
        }
      }
    }
  }

  &-extra {
    margin: 0;
    padding: 0;

    @media (min-width: $desktop) {
      position: absolute;
      top: 0;
      right: 0;
      padding-left: 32px;
      list-style: none;
      border-left: 1px solid rgba(255, 255, 255, 0.4);
    }

    &__item {
      padding: 0;
      margin-bottom: 48px;

      @media (min-width: $desktop) {
        margin-bottom: 32px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    &__link {
      display: inline-block;
      font-size: $font-size-15;
      line-height: $line-height-20;
      font-weight: 500;
      color: $color-white;
      text-decoration: none;
    }
  }
}
