.partners {
  @import '../main/variables';
  @import '../main/variables.fonts';
  @import '../main/variables.colors';

  background-color: $color-gray;
  position: relative;

  &__wrap {
    width: 100%;
    margin: 0 auto;
    padding: 42px 10px;
    box-sizing: border-box;
    @media (min-width: $mobile) {
      max-width: 355px;
    }
    @media (min-width: $tablet) {
      max-width: $tablet;
      width: 100%;
      margin: 0 auto;
      padding: 46px 40px 108px;
    }
    @media (min-width: $desktop) {
      max-width: $desktop;
      margin: 0 auto;
      padding: 48px 64px 72px;
    }
    @media (min-width: $desktop-l) {
      max-width: 100%;
      padding: 64px 140px 100px;
    }
  }

  &__img-wrap {
    width: 100%;
    margin-bottom: 18px;
    height: 40px;
  }

  &__img {
    height: 100%;
    width: 100%;
    display: block;
    background-repeat: no-repeat;
    background-position: 0 50%;

    &_first {
      background-image: url($img + "/partners_icon_1.svg");
      background-size: 136px 20px;
    }

    &_second {
      background-image: url($img + "/partners_icon_2.svg");
      background-size: 89px 40px;
    }

    &_third {
      background-image: url($img + "/partners_icon_3.svg");
      background-size: 71px 40px;
    }
  }

  &__text {
    font-size: $font-size-17;
    line-height: $line-height-24;
    font-weight: 500;
    @media (min-width: $desktop-l) {
      font-size: $font-size-20;
      line-height: $line-height-26;
    }
  }

  .owl-stage {
    @media (min-width: $desktop) {
      margin-top: 38px;
    }
    @media (min-width: $desktop-l) {
      margin-top: 21px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: min-height, width, height, transform ease 0.5s;
    background: #fcfcfc;
    padding: 24px;
    box-sizing: border-box;
    border-radius: 24px;
    min-height: 382px;
    max-width: 280px;
    margin: 0 auto;

    @media (min-width: $desktop) {
      margin-right: 26px;

      &:last-child {
        margin-right: 0;
      }
    }
    @media (min-width: $desktop-l) {
      background: #fcfcfc;
      border-radius: 24px;
      min-height: 468px;
      padding: 32px;
      max-width: 344px;
      box-sizing: border-box;
      margin-right: 24px;
    }
  }

  .owl-off {
    display: flex;
    @media (min-width: $desktop) {
      max-width: 1020px;
    }
    @media (min-width: $desktop-l) {
      max-width: 1360px;
    }

    .partners__item {
      position: static;
    }
  }

  .owl-carousel .owl-stage-outer {
    overflow: hidden;
    max-width: 280;
    margin: 0 auto;
    @media (min-width: $tablet) {
      overflow: visible;
      max-width: none;
    }
  }

  .owl-dots {
    display: flex;
    justify-content: center;

    @media (min-width: $tablet) {
      &.disabled {
        display: flex;
      }
    }

    @media (min-width: $mobile-s) {
      margin-top: 34px;
    }

    @media (min-width: $desktop) {
      margin-top: 0;
    }

    .owl-dot {
      width: 10px;
      height: 10px;
      margin: 0 8px;
      background: $color-dots;
      border-radius: 50%;
      display: block;
      outline: none;

      &.active {
        background: $color-dots-active;
      }
    }
  }

  &__name {
    font-size: $font-size-15;
    line-height: $line-height-20;
    font-weight: 500;
    margin-bottom: 8px;

    @media (min-width: $desktop-l) {
      font-size: $font-size-17;
      line-height: $line-height-20;
    }
  }

  &__description {
    font-size: $font-size-14;
    line-height: $line-height-22;
    font-weight: 400;
    @media (min-width: $desktop-l) {
      font-size: $font-size-17;
      line-height: $line-height-28;
    }
  }
}
