{% extends 'njk/_layout.njk' %}

{% block content %}
  {% include 'templates/start.html' %}
  {% include 'templates/features.html' %}
  {% include 'templates/partners.html' %}
  {% include 'templates/faq.html' %}
  {% include 'templates/news.html' %}

{% endblock %}